body { 
  background-color: blue
} 
h1 { 
  color: white 
} 
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white; 
}
li a {
  display: block;
  width: 60 px;
  background-color: #dddddd;
}
